.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(270deg, rgba(238, 153, 153, 0.344) 13.45%, rgba(82, 150, 205, 0.4) 39.4%), linear-gradient(270deg, rgba(248, 187, 208, 0.5) 60.73%, rgba(255, 255, 255, 0) 83.27%), rgba(28, 111, 165, 0.08);
}